@model IEnumerable<AccountantSystemv5.Models.ReservationPurchaseOrderInventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Reservation Purchase Order Inventory Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityOrdered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.POPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorItemID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.InventoryListPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
