@model AccountantSystemv5.Models.CashDisbursementType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashDisbursementType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayeeTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayeeTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CDTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
