@model IEnumerable<AccountantSystemv5.Models.CashDisbursementType>

@{
    ViewData["Title"] = "Index";
}

<h2>Cash Disbursement Type Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayeeTypeName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CDTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CDTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CDTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
