@model AccountantSystemv5.Models.InflowPurchaseInventory

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InflowPurchaseInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="InventoryReceiptID" />
        <dt>
            @Html.DisplayNameFor(model => model.QuantityReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryReceiptPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryReceiptPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.InventoryListPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
