@model AccountantSystemv5.Models.InflowPurchaseInventory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InflowPurchaseInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantityReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryReceiptPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryReceiptPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.InventoryListPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryReceiptID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
