@model IEnumerable<AccountantSystemv5.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h2>Sale Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
               
            @*
                <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SaleOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.SaleAmount)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*
    <td>
        @Html.DisplayFor(modelItem => item.CustomerID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SaleOrder.SaleOrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeID)
    </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.SaleAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
