@model IEnumerable<AccountantSystemv5.Models.EmployeeType>

@{
    ViewData["Title"] = "Index";
}

<h2>Employee Type Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTypeName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
