@model IEnumerable<AccountantSystemv5.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h2>Vendor Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorAddress1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorAddress2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorTelephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorPrimaryContact)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorPrimaryContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
