@model IEnumerable<AccountantSystemv5.Models.CashReceipt>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CasheReceiptAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayorCheckNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashReceiptDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CashAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashReceiptType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CasheReceiptAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayorCheckNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashAccount.AccountDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashReceiptType.EventTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.InvoiceID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RemittanceAdviceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RemittanceAdviceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RemittanceAdviceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
