@model AccountantSystemv5.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="EmployeeID" />
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSSN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeSSN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmAddress1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmAddress1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmAddress2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmAddress2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmZipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmZipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmTelephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmTelephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmPayRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmPayRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeType.EmployeeTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exemptions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exemptions.ExemptionNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Withholding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Withholding.FWTRate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
