@model AccountantSystemv5.Models.LoanAgreement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoanAgreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancierID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancierID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaturityDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaturityDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentsPerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentsPerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmAddress1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
