@model IEnumerable<AccountantSystemv5.Models.InventoryType>

@{
    ViewData["Title"] = "Index";
}

<h2>Inventory Type Index</h2>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InventoryTypeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InventoryTypeDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryTypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompositionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompositionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompositionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
